@import "tailwindcss";

:root {
  --background: #FCF8EC;
  --foreground: #171717;
}

@theme {
  --color-text-header-500: #0F3724;
  --color-primary-green-500: #0D5431;
  --color-background: #FCF8EC;
  --color-gold: #D99F50;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #FCF8EC;
    --foreground: #ededed;
  }
}

button:hover {
  cursor: pointer;
}